# Database Configuration
# Use a PostgreSQL database URL with asyncpg driver
# Format: postgresql+asyncpg://username:password@host:port/database
DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/videodb
R2_ACCESS_KEY=e694da403378e02c863e43a4ffb40989
R2_SECRET_KEY=82228d97bb199ff7310beb490d5787bf465091194aaacfd1a543411d254d8cc9
R2_BUCKET_NAME=videomanager
R2_ENDPOINT_URL=https://2cf2f1b0e5d5baa44b2c4c4148160fd4.r2.cloudflarestorage.com   